<%# TODO: Redo form layout for Bootstrap %>
<%# TODO: Style error messages %>

<div class="login-error">
  <h1>The following error may have kept you from logging in:</h1>
  <p> <%= flash[:error] %> </p>

  <h2>Log In</h2>
  <%= erb :'/application/user_login' %>

  <a href="/">Don't have an account? Sign up here!</a>
</div>