<%# TODO: Redo form layout for Bootstrap %>
<%# TODO: Style error messages %>

<div class="login-error">
  <% @title = "Rxeactions | Log In Error" %>

  <h2>The following error may have kept you from logging in:</h2>
  <% if flash[:user_error] %> <p> <%= flash[:user_error] %><a href="/"> sign up for an account.</a> </p> <% end %>
  <% if flash[:pwd_error] %> <p> <%= flash[:pwd_error] %> </p> <% end %>

  <h1>Log In</h1>
  <form method="POST" action="/login">

    <div class="form-row">
      <div class="form-group col-12">
        <p>Required fields are followed by <strong class="req">*</strong>.</p>
     </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-9">
        <label for="email">Email: <strong class="req">*</strong></label>
        <input id="email" class="form-control" type="email" name="user[email]" <% if flash[:pwd_error] %> value="<%= @user.email %>" <% end %> required>
     </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-9">
        <label for="pwd">Password: <strong class="req">*</strong></label>
        <input id="pwd" class="form-control" type="password" name="user[password]" aria-describedby="pwdHelp" required>
        <small id="pwdHelp" class="form-text text-muted">Must be between 6 and 20 characters long.</small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-12">
        <input class="btn" type="submit" value="Log In">
      </div>
    </div>

  </form>

</div>