<%# TODO: Redo form layout for Bootstrap %>

<div class="login">

  <form method="POST" action="/login">
    <h1>Log In</h1>
    <p>Required fields are followed by <strong>*</strong>.</p>

    <section>
        <label for="email">Email: <strong>*</strong></label>
        <input id="email" type="email" name="user[email]" required><br>

        <label for="pwd">Password: <strong>*</strong></label>
        <input id="pwd" type="password" name="user[password]" required><br>

        <input type="submit" value="Log In"><br><br>

    </section>
  
  </form>

  <a href="/signup">Don't have an account? Sign up here!</a>
</div>