<%# TODO: Redo form layout for Bootstrap %>
<%# TODO: Style error messages %>

<div class="signup-error">
  <h1>The following error may have kept you from signing up:</h1>
  <p> <%= flash[:error] %> </p>

  <h2>Sign Up</h2>
  <%= erb :'/application/user_signup' %>

  <a href="/">Already have an account? Log in here!</a>
</div>