<%# TODO: Redo form layout for Bootstrap %>
<%# TODO: Handle error messages %>

<div class="signup-error">
  <h1>The following errors may have kept you from signing up:</h1>

  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <h2>Sign Up</h2>
  <%= erb :'/application/user_signup' %>

  <a href="/">Already have an account? Log in here!</a>
</div>