<%# TODO: Redo form layout for Bootstrap %>

<div class="signup-error">

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>The following <%= pluralize(@user.errors.count, "error") %> prohibited this user from logging in:</h2>
  
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Sign Up</h1>
  <%= erb :'/application/user_signup' %>

  <a href="/">Already have an account? Log in here!</a>
</div>