@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i|Libre+Franklin:300,300i,400,400i,700,700i');
/* --- ^ Import Google Fonts ^ --- */

/* --- App Color Scheme --- */
/* Light Shades: #F9FBF2, rgba(249, 251, 242, 1) (Floral White) */
/* Light Accent: #A4B5C5, rgba(164, 181, 197, 1) (Wild Blue Yonder) */
/* Main Brand Color: #DCA0A8, rgba(220, 160, 168, 1) (Pastel Pink) */
/* Dark Accents: #AF4470, rgba(175, 68, 112, 1) (Raspberry Rose); #702C48, rgba(112, 44, 72, 1) (Wine Dregs) */
/* Dark Shades: #291E35, rgba(41, 30, 53, 1) (Dark Purple) */

/* --- App Measurements --- */

/* 10px = 1rem  */

/* Here I'm setting the root font size to 10px by taking 62.5% of 
the browser's default font size of 16px. This way, if the user has 
adjusted their default broser settings, it won't interfere with 
their changes. */
/* Remember: rems inherit from the root element, ems inherit from 
the parent element. */


@media screen {

  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* --- Custom Megstrap Styling --- */

  .container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .iteration {
    margin-bottom: 1.5rem;
  }

  .req {
    color: rgba(175, 68, 112, 1);
  }

  ul.faq {
    margin-left: 1.5rem;
  }

  /* --- Base-Level Styling --- */

  html, body {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
  }

  body {
    background-color: rgba(220, 160, 168, 1);
    color: rgba(41, 30, 53, 1);
    font-family: 'Libre Franklin', Helvetica, sans-serif;
    font-size: 1.6rem;
  }

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: rgba(249, 251, 242, 1);
    -moz-box-shadow: 0 0 2rem rgba(41, 30, 53, 0.5);
    -webkit-box-shadow: 0 0 2rem rgba(41, 30, 53, 0.5);
    box-shadow: 0 0 2rem rgba(41, 30, 53, 0.5);
    margin: 1.6rem auto;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  p {
    margin-bottom: 1rem;
  }

  h1 {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 6rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    border-bottom: 0.4rem dashed rgba(164, 181, 197, 1);
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 3.5rem;
    padding-bottom: 0.4rem;
    margin: 1.8rem 0rem 2.4rem 0rem;
  }

  h3 {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
  }

  h4 {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
  }

  a {
    color: rgba(175, 68, 112, 1);
    font-weight: bold;
    text-decoration: none;
  }

  a:hover {
    color: rgba(112, 44, 72, 1);
    text-decoration: none;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 0.1rem solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 1.4rem;
  }

  .branding {
    clear: both;
  }

  /* --- Headline Styling --- */

  h1.headline {
    color: rgba(249, 251, 242, 1);
    text-shadow: -1.5px -1.5px 0px rgba(175, 68, 112, 1), -1.5px 1.5px 0px rgba(175, 68, 112, 1), 1.5px -1.5px 0px rgba(175, 68, 112, 1), 1.5px 1.5px 0px rgba(175, 68, 112, 1), 0px 0px 15px rgba(220, 160, 168, 1), 0px 0px 15px rgba(220, 160, 168, 1);
    /* text-shadow: -2px -2px 10px rgba(175, 68, 112, 0.5), 2px 2px 10px rgba(175, 68, 112, 0.5), -4px -4px 15px rgba(220, 160, 168, 1), 4px 4px 15px rgba(220, 160, 168, 1); (Pink shadow) */
    text-align: center;
    margin-bottom: 1rem;
  }

  h1.sub-headline {
    color: rgba(249, 251, 242, 1);
    text-shadow: -1.5px -1.5px 0px rgba(41, 30, 53, 1), -1.5px 1.5px 0px rgba(41, 30, 53, 1), 1.5px -1.5px 0px rgba(41, 30, 53, 1), 1.5px 1.5px 0px rgba(41, 30, 53, 1), 2px 2px 15px rgba(164, 181, 197, 1), 2px 2px 15px rgba(164, 181, 197, 1);
    /* text-shadow: -2px -2px 10px rgba(41, 30, 53, 0.5), 2px 2px 10px rgba(41, 30, 53, 0.5), -4px -4px 15px rgba(164, 181, 197, 1), 4px 4px 15px rgba(164, 181, 197, 1); (Blue shadow) */
    text-align: center;
    margin-bottom: 1rem;
  }
  
  p.headline {
    font-size: 1.8rem;
    text-align: center;
  }

  /* --- Navbar Styling --- */

  nav {
    display: flex;
    flex-shrink: 0;
    background-color: rgba(249, 251, 242, 1);
    border-bottom: 0.5rem solid rgba(112, 44, 72, 1);
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }

  nav.navbar {
    padding: 1.5rem;
  }

  nav a.home {
    color: rgba(41, 30, 53, 1);
    font-weight: bold;
    margin-right: 1.5rem;
  }

  /* --- Button Styling --- */

  .btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  input.btn {
    background-color: rgba(175, 68, 112, 1);
    color: rgba(249, 251, 242, 1);
    font-size: 2rem;
    font-family: 'Josefin Sans', Verdana, sans-serif;
    padding: 0.8rem 2.4rem;
    border: 0.2rem solid rgba(175, 68, 112, 1);
    border-radius: 0.3rem;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  input.btn:hover {
    background-color: rgba(249, 251, 242, 1);
    color: rgba(175, 68, 112, 1);
  }

  input.delete-btn {
    background-color: rgba(112, 44, 72, 1);
    color: rgba(249, 251, 242, 1);
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0.8rem 5rem;
    border: 0.2rem solid rgba(112, 44, 72, 1);
    border-radius: 0.5rem;
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
  }

  input.delete-btn:hover {
    background-color: rgba(249, 251, 242, 1);
    color: rgba(112, 44, 72, 1);
  }

  a.btn {
    background-color: rgba(164, 181, 197, 1);
    color: rgba(41, 30, 53, 1);
    font-size: 1.6rem;
    font-family: 'Josefin Sans', Verdana, sans-serif;
    text-decoration: none;
    padding: 0.8rem 5rem;
    border: 0.2rem solid rgba(164, 181, 197, 1);
    border-radius: 0.5rem;
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
  }

  a.btn:hover {
    background-color: rgba(249, 251, 242, 1);
    border: 0.2rem solid rgba(41, 30, 53, 1);
  }

  a.btn.back-btn {
    padding: 0.8rem 10rem;
  }

  a.btn.new {
    position: relative;
    margin-top: 0;
  }

  /* --- Form Styling --- */

  .form-group {
    margin-bottom: 1.5rem;
  }

  .form-control {
    font-size: 1.45rem;
  }

  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #DCA0A8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 160, 168, 0.35);
  }

  label {
    display: inline-block;
    margin-bottom: 0.4rem;
  }

  form div.current-med {
    margin-left: 0.1rem;
    margin-bottom: 1.5rem;
  }

  form div.current-med .form-check-label {
    margin-top: 0.5rem;
  }

  /* --- Alert Styling --- */

  .alert {
    text-align: center;
    margin-bottom: 2rem;
  }

  /* --- Footer Styling --- */

  footer {
    display: flex;
    flex-shrink: 0;
    background-color: rgba(249, 251, 242, 1);
  }

  footer.branding {
    border-top: 0.5rem solid rgba(112, 44, 72, 1);
    padding: 2rem 1.5rem;
    margin-top: 4rem;
  }

}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }
}
