/* --- App Color Scheme --- */
/* Light Shades: #F9FBF2 (Floral White)                         */
/* Light Accent: #A4B5C5 (Wild Blue Yonder)                     */
/* Main Brand Color: #DCA0A8 (Pastel Pink)                      */
/* Dark Accents: #AF4470 (Raspberry Rose), #702C48 (Wine Dregs) */
/* Dark Shades: #291E35 (Dark Purple)                           */

/* --- App Measurements --- */

/* 8px = 0.5rem     */
/* 10px = 0.625rem  */
/* 12px = 0.75rem   */
/* 14px = 0.875rem  */
/* 16px = 1rem      */
/* 18px = 1.125rem  */
/* 20px = 1.25rem   */
/* 24px = 1.5rem    */
/* 28px = 1.75rem   */
/* 32px = 2rem      */
/* 36px = 2.25rem   */
/* 40px = 2.5rem    */
/* 44px = 2.75rem   */
/* 48px = 3rem      */

/* --- Import Google Fonts --- */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i|Libre+Franklin:300,300i,400,400i,700,700i');


@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: #DCA0A8;
    color: #291E35;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
  }

  .wrapper {
    background: #F9FBF2;
    -moz-box-shadow: 0 0 0.625rem rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 0.625rem rgba(0,0,0,.3);
    box-shadow: 0 0 0.625rem rgba(0,0,0,.3);
    margin: 1rem auto;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
  }

  h2 {
    border-bottom: 2px solid #A4B5C5;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    padding-bottom: 2px;
    margin-bottom: 1rem;
  }

  h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
  }

  p {
    margin-bottom: 0.25rem;
  }

  a {
    color: #AF4470;
    font-weight: bold;
  }

  a:hover {
    color: #702C48;
    text-decoration: none;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 0.875rem;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 1.25rem;
    padding-top: 1.25rem;
  }

}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }
}
