<div class="row">
  <% @title = "Rxeactions | Edit User" %>

  <div class="col-12">
    <h1 class="partial-header">Edit your user profile here</h1>

    <%= erb :'/application/edit_user_form' %>
  </div>

</div>