<div class="row">
  <% @title = "Rxeactions | Edit Medication" %>

  <div class="col-12">
    <h1 class="partial-header">Edit your medication here</h1>

    <%= erb :'/application/edit_medication_form' %>
  </div>

</div>