<%# TODO: Redo layout for Bootstrap %>

<div class="list-medications">

  <h1>List Medications</h1>

  <h2>Current Medications</h2>

  <%= erb :'/application/current_medications' %>

  <h2>Previous Medications</h2>

  <%= erb :'/application/previous_medications' %>

  <h2>All Medications</h2>

  <%= erb :'/application/all_medications' %>

  <a class="btn" href="/medications/new">Create a New Medication</a>

</div>