<%# TODO: Redo layout for Bootstrap %>
<%# TODO: Adjust required inputs %>

<div class="new-medication">

  <form method="POST" action="/medications">
    <h1>Create a new medication here</h1>
    <p>Required fields are followed by <strong>*</strong>.</p>

    <label for="name">Name: <strong>*</strong></label>
    <input id="name" type="text" name="med[name]" required><br>

    <%# TODO: Change to integer input with a dropdown dosage unit selector %>
    <label for="dos_amt">Dosage Amount: <strong>*</strong></label>
    <input id="dos_amt" type="text" name="med[dosage_amount]" required>

    <%# TODO: Change to dropdown picker %>
    <label for="dos_form">Dosage Form: <strong>*</strong></label>
    <input id="dos_form" type="text" name="med[dosage_form]" required><br>              

    <label for="inst">Usage Instructions: <strong>*</strong></label>
    <textarea id="inst" cols="40" rows="10" name="med[usage_instructions]" placeholder="Usage instruction details here"></textarea><br>

    <label for="start">Start Date: <strong>*</strong></label>
    <input id="start" type="date" name="med[start_date]" required>

    <label for="end">End Date: <strong>*</strong></label>
    <input id="end" type="date" name="med[end_date]" required><br>

    <label for="doc">Prescribing Doctor: <strong>*</strong></label>
    <input id="doc" type="text" name="med[prescribing_doctor]" required><br>

    <label for="treatment">Ailment Treated: <strong>*</strong></label>
    <input id="treatment" type="text" name="med[ailment_treated]" required><br><br>

    <input type="submit" value="Add New Medication">

  </form>

</div>