<%# TODO: Redo layout for Bootstrap %>

<div class="edit-reaction">
  <% @title = "Rxeactions | Edit Reaction" %>

  <h1>Edit your reaction here</h1>

  <%= erb :'/application/edit_reaction_form' %>

</div>