<div class="row">
  <% @title = "Rxeactions | New Reaction" %>

  <div class="col-12">
    <h1 class="partial-header">Record your new reaction here</h1>

    <%= erb :'/application/new_reaction_form' %>
  </div>

</div>