<%# TODO: Redo layout for Bootstrap %>

<form method="POST" action="/medications/<%= @med.slug %>/reactions-<%= @reax.id %>">
  <p>Required fields are followed by <strong class="req">*</strong>.</p>

  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="title">Title: <strong class="req">*</strong></label>
  <input id="title" type="text" name="reax[title]" value="<%= @reax.title %>" required><br>           

  <label for="detail">Reaction Detail: <strong class="req">*</strong></label><br>
  <textarea id="detail" name="reax[reaction_detail]" placeholder="Record any side effects and/or comments pertaining to your medication here."><%= @reax.reaction_detail %></textarea><br><br>

  <input class="btn" type="submit" value="Update Reaction">

</form>