<form method="POST" action="/login">
  
  <div class="form-row">
    <div class="col-12">
      <p>Required fields are followed by <strong class="req">*</strong>.</p>
    </div>
  </div>

  <div class="container">

    <div class="form-row justify-content-center">
      <div class="form-group col-8">
        <label for="email">Email: <strong class="req">*</strong></label>
        <input id="email" class="form-control" type="email" name="user[email]" required>
      </div>
    </div>

    <div class="form-row justify-content-center">
      <div class="form-group col-8">
        <label for="pwd">Password: <strong class="req">*</strong></label>
        <input id="pwd" class="form-control" type="password" name="user[password]" aria-describedby="pwdHelp" required>
        <small id="pwdHelp" class="form-text text-muted">Must be between 6 and 20 characters long.</small>
      </div>
    </div>

  </div>

  <div class="form-row">
    <div class="col-12">
      <input class="btn" type="submit" value="Log In">
    </div>
  </div>

</form>