<form method="POST" action="/users">
  
  <div class="form-row">
    <div class="form-group col-12">
      <p>Required fields are followed by <strong class="req">*</strong>.</p>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="name" class="col-3 col-form-label">Name: <strong class="req">*</strong></label>
    <div class="col-8">
      <input id="name" class="form-control" type="text" name="user[name]" required>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="email" class="col-3 col-form-label">Email: <strong class="req">*</strong></label>
    <div class="col-8">
      <input id="email" class="form-control" type="text" name="user[email]" required>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="pwd" class="col-3 col-form-label">Password: <strong class="req">*</strong></label>
    <div class="col-8">
      <input id="pwd" class="form-control" type="password" name="user[password]" aria-describedby="pwdHelp" required>
      <small id="pwdHelp" class="form-text text-muted">Must be between 6 and 20 characters long.</small>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label for="bday" class="col-3 col-form-label">Birthday: <strong class="req">*</strong></label>
    <div class="col-8">
      <input id="bday" class="form-control" type="date" name="user[birth_date]" max="<%= (Time.now - 567993600).strftime("%Y-%m-%d") %>" aria-describedby="bdayHelp" required>
      <small id="bdayHelp" class="form-text text-muted">Must be 18 years or older to create an account.</small>
    </div>
  </div>

  <div class="form-row justify-content-center">
    <div class="form-group col-11">
      <label for="allergies">Known Allergies: </span></label>
      <textarea id="allergies" class="form-control" name="user[known_allergies]" rows="5" placeholder="List your known allergies here, even if they're not medications."></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <input class="btn" type="submit" value="Sign Up">
    </div>
  </div>

</form>