<%# TODO: Redo form layout for Bootstrap %>

<form method="POST" action="/login">
  <p>Required fields are followed by <strong>*</strong>.</p>

  <label for="email">Email: <strong>*</strong></label>
  <input id="email" type="email" name="user[email]" required><br>

  <label for="pwd">Password: <strong>*</strong></label>
  <input id="pwd" type="password" name="user[password]" required><br>

  <input class="btn" type="submit" value="Log In"><br><br>

</form>