<div class="row">
  <% @title = "Rxeactions | About" %>

  <div class="col-12">
    <h1 class="headline">About Rxeactions</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>The Idea</h2>

    <p>When I was in college I was diagnosed with generalized anxiety. Since then, I have 
    changed psychiatrists several times and have added major depression and PTSD to my list 
    of diagnoses. Over the course of the past decade, between seeking treatment from different 
    doctors (each with their own preferred methods of treatment) and receiving new diagnoses, 
    I've tried a LOT of different medications. Unfortunately, I couldn't tell you what most of 
    them were, let alone the dosage or why I stopped taking them.</p>
    <p>That is where the idea of Rxeactions stemmed from. When I would see a new psychiatrist, 
    they would suggest a medication and sometimes I'd remember taking it before but not when, or 
    for how long, or why I stopped it. And who wants to call a bunch of doctor's offices to track 
    down their medical records? I don't! I really wish I would have had the foresight at the 
    time to write down my prescribed medications and associated experiences, but I didn't. Now, 
    it's no longer something you, or I, will have to worry about!</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>How To Use</h2>
    
    <p>On the home page, either sign up for an account or log in to your existing account.</p>
    <p>Upon login or successful registration, you will be redirected to your user dashboard. The 
    right-hand column displays your user details as entered in the signup form along with the option 
    to edit these details by clicking the blue edit button. Below this is a list of your current 
    medications. Displayed in the left-hand column is a form to create a new medication. Upon 
    completing the new medication form, you will be redirected to that medication's detail page.</p>
    <p>Displayed on the medication detail page is all the information submitted in the new medication 
    form with edit and delete buttons below. Keep in mind that deleting a medication is different from 
    stopping a medication. To stop a medication, you should use the edit button to change 
    "Are you currently taking this medication?" to "No" and set a "Usage End Date". If you did not 
    complete a non-required field in the new medication form (such as "Usage Start Date", "Usage End 
    Date", or "Prescribing Doctor"), it will not appear in your medication detail page unless you edit 
    your medication and add the missing information.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>FAQs</h2>
    
    <p>Questions people would ask about the app...</p>
  </div>
</div>