<div class="row">
  <% @title = "Rxeactions | About" %>

  <div class="col-12">
    <h1 class="headline">About Rxeactions</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>The Idea</h2>

    <p>When I was in college I was diagnosed with generalized anxiety. Since then, I have 
    changed psychiatrists several times and have added major depression and PTSD to my list 
    of diagnoses. Over the course of the past decade, between seeking treatment from different 
    doctors (each with their own preferred methods of treatment) and receiving new diagnoses, 
    I've tried a LOT of different medications. Unfortunately, I couldn't tell you what most of 
    them were, let alone the dosage or why I stopped taking them.</p>
    <p>That is where the idea of Rxeactions stemmed from. When I would see a new psychiatrist, 
    they would suggest a medication and sometimes I'd remember taking it before but not when, or 
    for how long, or why I stopped it. And who wants to call a bunch of doctor's offices to track 
    down their medical records? I don't! I really wish I would have had the foresight at the 
    time to write down my prescribed medications and associated experiences, but I didn't. Now, 
    it's no longer something you, or I, will have to worry about!</p>
  </div>
</div>

<div class="row">
  <div class="col mr-auto">
    <h2 id="the-idea">The Idea</h2>
  </div>
  <div class="text-right col-auto">
    <a class="btn back-btn" href="/"><% if logged_in? %>Return to your user dashboard<% else %>Return home<% end %></a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>When I was in college I was diagnosed with generalized anxiety disorder. Since then, I have changed psychiatrists several times and have added major depression and PTSD to my list of diagnoses. Over the course of the past decade, between seeking treatment from different doctors (each with their own preferred methods of treatment) and receiving new diagnoses, I've tried a LOT of different medications. Unfortunately, I couldn't tell you what most of them were, let alone the dosage or why I stopped taking them.</p>
    <p>That is where the idea of Rxeactions stemmed from. When I would see a new psychiatrist, they would suggest a medication and sometimes I'd remember taking it before but not when, or for how long, or why I stopped it. And who wants to call a bunch of doctor's offices to track down their medical records? I don't! I really wish I would have had the foresight at the time to write down my prescribed medications and associated experiences, but I didn't. Now, it's no longer something you, or I, will have to worry about!</p>
  </div>
</div>

<div class="row">
  <div class="col mr-auto">
    <h2>Contact Me</h2>
  </div>
  <div class="text-right col-auto">
    <div class="fa-icons">
      <a href="mailto:meghan.gutshall@gmail.com?subject=Rxeactions" target="_blank"><span class="fas fa-envelope"></span></a>
      <a href="https://twitter.com/meg_gutshall" target="_blank"><span class="fab fa-twitter"></span></a>
      <a href="https://www.linkedin.com/in/meghan-gutshall/" target="_blank"><span class="fab fa-linkedin-in"></span></a>
      <a href="https://github.com/meg-gutshall" target="_blank"><span class="fab fa-github"></span></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>Hello! My name is Meg Gutshall and I live in the suburbs of Philly, the land of cheesesteaks and rowdy sports fans. I'm a proud graduate of Temple University's Spanish program and an even prouder student of Flatiron School's online software engineering program. When I'm not lost in coding a new program, my thoughts are hijacked by the latest book I'm reading, or I'll head to a brewery in search of the next great beer. And although I work from home, I have Pip my ever-faithful cat codepanion to keep me company and help make executive decisions.</p>
    <p>If you need to get in touch, you can reach me by email at <a href="mailto:meghan.gutshall@gmail.com?subject=Rxeactions">meghan.gutshall@gmail.com</a>, connect with me on <a href="https://www.linkedin.com/in/meghan-gutshall/" target="_blank">LinkedIn</a> or <a href="https://twitter.com/meg_gutshall" target="_blank">Twitter</a>, or if you're a fellow developer interested in networking or working together, you can find <a href="https://github.com/meg-gutshall/rxeactions" target="_blank">Rxeaction's repo</a> on my <a href="https://github.com/meg-gutshall" target="_blank">GitHub</a> account. I'll gladly listen to any suggestions or constructive feedback!</p>
  </div>
</div>