<div class="container-fluid about">
  <% @title = "Rxeactions | About" %>

  <div class="row">
    <div class="col-12">
      <h1>About Reaxctions</h1>

      <p>Write about my idea for the app...</p>
    </div>
  </div>
</div>