<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js" lang="en">           <![endif]-->
<html lang="en">

  <head>
    <%# Required meta tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%# Bootstrap CSS %>
   <link rel="stylesheet" href="/stylesheets/bootstrap.css">

   <%# Font Awesome CSS %>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <%# My custom CSS %>
    <link rel="stylesheet" href="/stylesheets/main.css">

    <title><%= @title %></title>
  </head>

  <body>

    <div class="container-fluid"> <%# Start navbar %>
        <header>
          <nav class="navbar navbar-expand-md sticky-top">
            <a class="nav-item nav-link home" href="/">Rxeactions</a>
            <% if logged_in? %> <a class="nav-item nav-link" href="/users/<%= current_user.id %>">Dashboard</a> <% end %>
            <% if logged_in? %> <a class="nav-item nav-link" href="/medications">Medications</a> <% end %>
            <a class="nav-item nav-link" href="/about">About</a>
            <% if logged_in? %> <a class="nav-item nav-link" href="/logout">Logout</a> <% end %>
          </nav>
        </header>
    </div> <%# End navbar %>

    <div class="container-fluid wrapper"> <%# Start body %>
      <%= yield %>
    </div> <%# End body %>

    <div class="container-fluid"> <%# Start footer %>
      <footer class="branding">
        <small>&copy; 2019 <strong class="req">Rxeactions</strong></small>
      </footer>
    </div> <%# End footer %>

    <%# Optional JavaScript %>
    <%# jQuery first, then Popper.js, then Bootstrap JS %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>