<div class="homepage">

  <h1>Welcome to Reaxctions!</h1>

  <h2>To get started, either <a href="/signup">sign up</a> or <a href="/login">log in</a>.</h2>

  <p>Info on idea for the app...</p>
  
</div>