<div class="row">
  <% @title = "Rxeactions | Home" %>

  <% if flash[:alert] != nil %>
    <div class="col-12 justify-content-center alert alert-dark" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<div class="row justify-content-center">
  <div class="col-8 headline">
    <h1 class="headline">Welcome to Rxeactions!</h1>
    <p class="headline">Rxeactions is a digital journal that allows users to privately track medications they’ve been prescribed and side effects, thoughts, and feelings associated with those medications.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>To get started, either sign up or log in.</h2>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <h3>Sign Up</h3>
    <%= erb :'/application/user_signup' %>
  </div>
  <div class="col-12 col-md-6">
    <h3>Log In</h3>
    <%= erb :'/application/user_login' %>
  </div>
</div>