<div class="container-fluid homepage">
  <% @title = "Rxeactions | Home" %>

  <% if flash[:check_stray_error] %>
    <div class="row">
      <div class="col-12">
        <p> <%= flash[:check_stray_error] %> </p>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <h1>Welcome to Rxeactions!</h1>
      <%# TODO: Below %>
      <p>Write a short summary of what the app was made for and how to use the app.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>To get started, either sign up or log in.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 signup">
      <h3>Sign Up</h3>
      <%= erb :'/application/user_signup' %>
    </div>
    <div class="col-12 col-md-6 login">
      <h3>Log In</h3>
      <%= erb :'/application/user_login' %>
    </div>
  </div>

</div>