<div class="row">
  <% @title = "Rxeactions | Home" %>

  <%# Flash message for errors %>
  <% if flash[:alert] != nil %>
    <div class="col-12 justify-content-center alert alert-dark" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>

<%# Welcome message %>
<div class="row justify-content-center">
  <div class="col-9 headline">
    <h1 class="headline">Welcome to Rxeactions!</h1>
    <p class="headline">Rxeactions is a digital journal that allows users to privately 
    track medications they’ve been prescribed as well as side effects, thoughts, and feelings 
    associated with those medications. For more information, click one of the buttons below or 
    continue on to the app by completing either the sign up or log in form.</p>
  </div>
</div>

<%# About page info buttons %>
<div class="row justify-content-center">
  <div class="text-center col-4">
    <a class="btn" href="/about">How To Use</a>
  </div>
  <div class="text-center col-4">
    <a class="btn" href="/about#faqs">FAQs</a>
  </div>
  <div class="text-center col-4">
    <a class="btn" href="/about#the-idea">The Idea</a>
  </div>
</div>

<%# Sign Up/Log In %>
<div class="row">
  <div class="col-12">
    <h2>To get started, either sign up or log in.</h2>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <h3>Sign Up</h3>
    <%= erb :'/application/user_signup' %>
  </div>
  <div class="col-12 col-md-6">
    <h3>Log In</h3>
    <%= erb :'/application/user_login' %>
  </div>
</div>